/* color scheme */
/*  
Thunder:
  #332B33
  #2E242E
  #302730
  #362F36
  #383338
Sambuca #2C0F0B 
Jon #331C1C
Tamarind #2C141C
*/
$baseColor: #332B33;
$baseColorDarker: #2C262C;
$baseColorDark: #302730;
$baseColorLight: #393039;
$baseColorLighter: #3F343F;
$baseColorIntense: #523352;