//@import "custom";
@import "~bootstrap/scss/bootstrap";
@font-face { 
    font-family: 'equality'; 
    src: url('./fonts/equality/equality.ttf') format('truetype');
}
/* @font-face {
    font-family: 'equality'; 
} */

* {outline:none !important;}

body{background-color: #f8f9f5; }

//sticky footer
html{min-height: 100vh;}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
#app{flex: 1;}


a{color:#333;}

div.logo{margin:2em 0 4em 0;}
div.font_equality_s4em{font-family:'equality', Helvetica, sans-serif; font-size:4em; color: #e2506e;}
div.font_equality_s2em{font-family:Arial, sans-serif; font-size:1.4em; line-height: 0;}

//div#login{position: absolute; top:30px; right: 30px;}
div.login_section {    
    border: 2px solid #e2506e;
    border-radius: 7px;
}
button#login{ background-color:#e2506e;padding: 0.8em;}
button#logout{ background-color:#e2506e; border-radius: 7px; padding: 0.8em;}
input.pw_input{height: auto !important;}


div#list_edit_section{ //#dfdfdf
    border: 2px solid #e2506e;
    border-radius: 7px;
    margin-bottom:7px;
}
div#listname_login{
    display: inline-block;
    border: 2px solid #e2506e;
    border-radius: 7px; 
    padding: 0.2em;
}

div#list_edit_section > div { margin: 0.2em 0.4em; }
div#list_edit_section button{background-color:#e2506e; }
button#add{ 
    background-color:#e2506e; 
    border-radius: 7px;
    padding: 0.8em;
    margin-right:0;
    margin-bottom:6px;
}


table td{ padding: 0.4rem 0 !important;}
table td>div{padding:0 0.2rem;}
table td>div.drag-padding{padding-right:0;}
table td>div.note-padding{padding-right:0.4rem;}
table td>div.radio-padding{padding-right:0;}
table td>div.delete-padding{padding-left:0;}

table .numChange{ padding: 0 5px; }
table .season{
    width: 18px;
    font-weight: bold;
    text-align: right;
}
table .episode{
    width: 35px;
    font-weight: bold;
    text-align: right;
}

button {
    background-color: rgba(255,255,255,0); 
    border:none;
    //padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.dropdown {
    position: relative;
    width: 250px;
    
    .x {
        position:absolute;
        z-index: 9999;
        left:0;
        top:100%;
        height:0;
        overflow: hidden;
    }
    .x.open {
        height:auto;
    }
}
td textarea{
    min-width:150px;
    margin-left: -15px;
    z-index: 9999;
}


tr{height:40px !important;}

.tr-running{background-color: #dbe5ff; transition: background-color 1s;}
.tr-hiatus{background-color: #FFE2D5; transition: background-color 1s;}
.tr-finished{background-color: #dfdfdf; transition: background-color 1s;}
.tr-running:hover{background-color: #CFDCFF;}
.tr-hiatus:hover{background-color: #FFDAC9;}
.tr-finished:hover{background-color: #D5D5D5;}

.radio-div{
    cursor: default; 
    margin-top: -5px; }
.radio {
    padding-left: 0; }
.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; }
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
    opacity: 0; }
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
    opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed; }
.radio.radio-inline {
    display: inline-block;
    margin-top: 0; }

.radio-running input[type="radio"] + label::after {
    background-color: #3154b6; }
.radio-running input[type="radio"]:checked + label::before {
    border-color: #3154b6; }
.radio-running input[type="radio"]:checked + label::after {
    background-color: #3154b6; }

.radio-hiatus input[type="radio"] + label::after {
    background-color: #ff5e00; }
.radio-hiatus input[type="radio"]:checked + label::before {
    border-color: #ff5e00; }
.radio-hiatus input[type="radio"]:checked + label::after {
    background-color: #ff5e00; }

.radio-finished input[type="radio"] + label::after {
    background-color: #8394a3; }
.radio-finished input[type="radio"]:checked + label::before {
    border-color: #8394a3; }
.radio-finished input[type="radio"]:checked + label::after {
    background-color: #8394a3; }

svg{fill: #333333;}
svg#draggable{fill:rgba(0,0,0,0)}
table tr:hover svg#draggable{fill: #333333;}
svg.background_color{fill: #f8f9f5;}
svg#add{ height:1.5em; width:2em; }
svg#login{ height:1.5em; width:2em; }
svg#logout{ height:1.5em; width:2em; }


//lightbox
.lb-wrapper{
    z-index:998;
    display: flex;
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    justify-content: center;
    align-items: center;
}
.lightbox {
	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(5px)
}
.lb-form {
    z-index: 9999;
    display: flex;
    background: #FFF;
    padding: 20px;
}


//mouseover pointer
.pointer {
    cursor: pointer;
}

footer{
    margin-top: 1px;
    border-top: 1px solid var(--color-grey-lighter);
    font-size: 12px;
    line-height: 14px;
    padding: 5px 15px;
    text-align: center;
}
footer a{
    display: inline-block;
    color: silver;
    text-decoration: none;
    padding: 4px 5px;
    font-size: 11px;
    line-height: 14px;
}
footer a:hover{
    color: silver;
    text-decoration: none;
}
